.DS_Store
node_modules/
.env
.env.*
!.env.example

api/.env
api/.env.*
web/node_modules/
web/.env
web/.env.*
mobile/node_modules/
mobile/.env
mobile/.env.*

api/log/*
api/tmp/*
api/storage/*
!api/log/.keep
!api/tmp/.keep
!api/storage/.keep
